
.vvod_text::-webkit-input-placeholder {color: #48cbe8;}
.vvod_text::-moz-placeholder {color: #48cbe8;}
.vvod_text:-moz-placeholder {color: #48cbe8;}
.vvod_text:-ms-input-placeholder {color: #48cbe8;}
.vvod_text::-webkit-input-placeholder {vertical-align: text-top;}
.vvod_text::-moz-placeholder {vertical-align: text-top;}
.vvod_text:-moz-placeholder {vertical-align: text-top;}
.vvod_text:-ms-input-placeholder {vertical-align: text-top;}

.vvod_text{
	font-family: fira_sanslight, sanserif, arial, helvetica;
	width: 378px;
	padding: 18px 22px;
	border: 1px solid #67dffa;
	border-radius: 5px;
	color: #67dffa;
	margin-bottom: 12px;
}
.zaglav_blok_2{
    font-size: 1.69em;
    padding: 41px 0 37px 0;
    border-bottom: 17px solid #67dffa;
    text-align: center;
	background-color: #48cbe8;
	color: #fff;
	border-bottom: 14px solid #67dffa;
	margin-bottom: 4px;
}
.autoris{
    display: none;
}
.conteiner_contact{
	width: 100%;
	height: 100%;	
}
.soobshenie{
	color: #48cbe8;
	font-size: .73em;
	padding: 10px 10px;
	width: 192px;
	display: inline-block;
}
.soobsen_vvod{
	height: 183px;
	width: 402px;
	resize: none;
}
.ckapcha_vvod{
	margin-top: 22px;
	float: right;
	height: 32px;
	margin-right:0;
	margin-left:10px;
}
.info_space{
	padding:38px 124px 28px 124px;
	inline-block;
}
.fon{
    background-color: #eff3f7;
    margin-bottom: 26px;
}
.Name_po_z{
    font-size: 1.15em;
    color: #959aa8;
    display: block;
}
.imgcapch{
    border: 1px solid #67dffa;
    border-radius: 5px;
}
.pole_zapolneniy{
	display: inline-block;
	margin-bottom: 12px;
}
 .imgcapch{
 	display: inline-block;
 }
.capcha_blok{
	display: block;
	margin-bottom: 12px;
}
.sms{
	display: block;
	margin-bottom: 1px;
}
.button_group{
	display: block;
}
.bt2{
	height: 33px;
	color: #fff;
    font-size: 20px;
    border: solid #3ba8c0;
    border-width: 0 0 4px;
    padding: 0px 20px 0 20px;
    background-color: #48cbe8;
    border-radius: 5px;
}
.noactiv_bt{
	cursor: default;
	color: #fff;
	height: 33px;
	font-size: 20px;
	border: solid #687b8f;
	border-width: 0 0 4px;
	background-color: #849db5;
	border-radius: 5px;
	padding: 0px 20px 0 20px;
}
.bt2:hover{
	border-bottom: none;
}
.bt2:active{
	border-top: solid 4px #3ba8c0;
}
