.portfolio{
    padding: 0 7px;
}
.works_elems{
    vertical-align: top;
    margin: 8px 14px 5px 14px;
    display: inline-block;
    width: 180px
}
.works_elem{
     width: 180px; 
     height: 129px;
}
.info_pole{
    padding-top: 13px;
    background-color: #eff3f7;
    margin-bottom: 26px;
    padding-bottom: 35px;
    border-radius: 5px;
}
.hover_div{
    display: inline-block;
    position: absolute;
    width: 183px;
    height: 129px;
    display: inline-block;
    vertical-align:middle;
    background-color: #016ca4;
    border: 2px solid #67dffa;
    border-radius: 5px;    
    text-align: center;
    font-size: 0em;
    background: url(../images/fon_portfplio_0.png);     
}
.name_hover{    
    display: inline-block;    
    vertical-align:middle;
    padding:0 10px;
    color: #fff;
    border: none;
    border-radius: 3px;       
}
.works_elem:hover .hover_div{    
    background: url(../images/fon_portfplio.png);     
}
.hover_div:hover .name_hover{    
    font-size: 12px;
    border: 2px solid #fff;      
}
.tran_works{
 transition: .3s
}
.works{
    padding: 0 auto;
    width: 183px;
    height: 129px;
    background-color: #016ca4;
    border: 2px  solid #67dffa;
    border-radius: 5px;
}
.web_name{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: .8em;
    color: #67dffa;    
    margin-top: -3px;
    font-family: fira_sanslight_italic, sanserif, arial, helvetica;
}
.web_opisanie{
    font-family: fira_sanslight, sanserif, arial, helvetica;
    color:#4a545d;
    margin-top: 0px;
    font-size: 1em;
}
.zaglv_portf{
    display: inline-block;
    font-weight: 400;
    font-size: 1.69em;
    color: #3ba8c0;
    padding: 0 24px 12px 24px;
    border-bottom: 2px solid #3ba8c0;
    margin: 0 0 3px 0;
}
.add_project{
    cursor: pointer;
    color:#3ba8c0;
    text-decoration: none;
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    width: 183px;
    height: 129px;
    border: 2px dotted #67dffa;
    border-radius: 5px;
}
.add_project:hover{
    text-decoration: underline;
}
.add_proj_img{
    margin: 33px auto 0 auto;
    display: block;
    width: 34px;
    height: 34px;
    background-position: -171px -167px;
}
.add_proj{
    font-family: fira_sanslight, sanserif, arial, helvetica;
    font-size: 13px;
    margin-top: 8px;
    text-align: center;    
}
.popup{
    margin-top: 40px;
    display: none;
}
.popup__container{
    width: 362px;
    background-color: #eff3f7;    
    overflow: hidden;
    border-radius: 5px;    
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}
.bpopup_ul{
    font-size: 17px; 
    list-style-type: none;
    padding: 0px 21px;
    margin: 0;
    color: #959aa8;
}
.b-close{
    font-family: proxima_nova_condensedSBd, sanserif, arial, helvetica;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    right: 11px;
    top: 9px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0px 8px; 
    font-size: 12px;    
}
.bpopup_zg{
    font-size: 25px;
    padding: 5px 0 0px 13px;
    border-bottom: 17px solid #67dffa;    
    background-color: #48cbe8;
    color: #fff;
    border-bottom: 10px solid #67dffa;
    margin-bottom: 5px;
}
.bt2{
    margin: 0 auto 20px;
    display: block;
    height: 33px;
    color: #fff;
    font-size: 19px;
    border: solid #3ba8c0;
    border-width: 0 0 3px;
    padding: 0px 28px 0 28px;
    background-color: #48cbe8;
    border-radius: 5px;
}
.bt2:hover{
    border-bottom: none;
}
.bt2:active{
    border-top: solid 4px #3ba8c0;
}
.bpopup_input{
    font-size: 13px;
    font-family: fira_sanslight, sanserif, arial, helvetica;
    width: 320px;
    padding: 10px 7px;
    border: 1px solid #67dffa;
    border-radius: 5px;
    color: #67dffa;
    margin-bottom: 6px;
}
.description_popup{
    height: 112px;    
    resize: none;
}
.input_file{    
    overflow: hidden;
    width: 320px;
    background-color: #fff;    
}
.hide_input{
    z-index: 15;   
    position: absolute;
    display: none;    
    width: 54px;
    height: 42px;    
}
.bpopup_input::-webkit-input-placeholder {color: #48cbe8;}
.bpopup_input::-moz-placeholder {color: #48cbe8;}
.bpopup_input:-moz-placeholder {color: #48cbe8;}
.bpopup_input:-ms-input-placeholder {color: #48cbe8;}
.ico_popup:after{
    content: "";
    background-image: url(../images/spritesheet.png);
    width: 33px;
    height: 24px;
    float: right;
    margin: 8px 9px 10px 0;
    display: inline-block;
    background-position: -120px -140px;
}
.ico_popup{
    cursor: pointer;
    right: 22px;
    margin-top: -11px;
    overflow: hidden;
    width: 53px;
    position: absolute;    
    background-color: #48cbe8;
    border-radius: 0 5px 5px 0;
}