
.zaglav_blok{
	text-align: center;
	padding: 17px 0 14px 0;	
	background-color: #48cbe8;
	color: #fff;
	font-size: 2.46em;
	border-bottom: 14px solid #67dffa;
	margin-bottom: 18px;
}
.helper_2{
    height: 1px;
    margin-bottom: 5%;
}
.close{
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	font-size: 35px;
	position: absolute;	
	text-align: center;
	background-color: #48cbe8;
	display: inline-block;	
	margin-right: -100px;
	height: 50px;
	width: 50px;
	
	margin: 0;
}
.conect_name{
	margin:0 0 3px 0;
	font-size: 2.16em;
	font-weight: 100;
	color: #959aa8;
}
.conteiner_contact{
	width: 700px;
	margin: 0 auto;
}
.conect{
	padding: 0;
	margin: 0 auto;
	width: 590px;
    text-align: center;
    background-color: #eff3f7; 
	border-radius: 5px;
	padding-bottom: 19px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    margin-bottom: 50px;
}
.vvod_text{
	font-family: fira_sanslight, sanserif, arial, helvetica;
	width: 378px;
	padding: 18px 22px;
	border: 1px solid #67dffa;
	border-radius: 5px;
	color: #67dffa;
	margin-bottom: 12px;
}
.vvod_text::-webkit-input-placeholder {color: #48cbe8;}
.vvod_text::-moz-placeholder {color: #48cbe8;}
.vvod_text:-moz-placeholder {color: #48cbe8;}
.vvod_text:-ms-input-placeholder {color: #48cbe8;}
.vvod_text::-webkit-input-placeholder {vertical-align: text-top;}
.vvod_text::-moz-placeholder {vertical-align: text-top;}
.vvod_text:-moz-placeholder {vertical-align: text-top;}
.vvod_text:-ms-input-placeholder {vertical-align: text-top;}

.bt{
	font-size: 31px;
    height: 53px;
    margin-top: 22px;
    padding: 0 70px;
    color: #f6f6f6;
    border: solid #3ba8c0;
    border-width: 0 0 4px;
    border-radius: 5px;
    background-color: #48cbe8;  
}
.bt:hover{
	border-bottom: none;
}
.bt:active{
	border-top: solid 4px #3ba8c0;
}
